

.hero--with-header { 
  padding-top: 200px; 
} 

.social-hero {
    width: 100%;
    height: 100vh;
    background: url('/images/view-iceberg-water 1.png') no-repeat center center;
    background-size: cover;
    position: relative;
}

.social-text {
  font-family: var(--font-engravers), serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: clamp(40px, 10vw, 145px); /* min, динамика, max */
  font-weight: 700;
  color: white;
  line-height: 0.8;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.00);

  overflow-wrap: break-word;
}


/*Water Section*/
.social-block {
  max-width: 1280px;
  margin: 60px auto;
  padding: clamp(20px, 5vw, 60px);
  background: #fff;
  border-radius: 16px;
  border: 1px solid #E4EAF2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
}

/* маленькие ноуты (например, до 1366px ширина) */
@media (max-width: 1366px) {
  .social-block {
    margin: 40px 40px; /* по бокам всегда есть пространство */
  }
}

/* планшеты */
@media (max-width: 992px) {
  .social-block {
    margin: 30px 20px;
    border-radius: 12px;
  }
}

/* телефоны */
@media (max-width: 576px) {
  .social-block {
    margin: 20px 10px;
    padding: 20px;
    border-radius: 8px;
  }
}



.social-block > p {
  font-size: 20px;
  color: #003366;
  margin-bottom: 30px;
}

.blue-dot {
    display: inline-block; 
    width: 8px;
    height: 8px;
    background-color: #009FE3;
    border-radius: 50%;
    margin-right: 8px; 
    flex-shrink: 0;
  }

/*Footer*/
.footer {
  background: #fff;
  color: #003366;
  padding: 60px 40px 0;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 30px;
}

.footer-logo img {
  width: 100px;
}

.footer-menu h4,
.footer-contacts h4 {
  font-size: 10px;
  font-weight: 600;
  color: #1B1819;
  opacity: 0.6;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-menu ul li {
  margin-bottom: 6px;
}

.footer-menu ul li a,
.footer-contacts a {
  color: #003366;
  text-decoration: none;
  font-size: 16px;
}

.footer-contacts > div {
  margin-bottom: 20px;
  width: 300px;
  font-size: 14px;
}

.footer-contacts > div a {
  color: #909FB9;
  font-size: 12px;
}

.footer-button {
  align-self: flex-start;
  text-decoration: none;
}

.footer-delivery-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #000000;
  color: white;
  font-weight: 600;
  text-decoration: none;
  border-radius: 24px;
}

.footer-social {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 40px 0;
}

.footer-social img {
  width: 40px;
  height: 40px;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  gap: 10px;
  padding-bottom: 30px;
}

.footer-bottom a {
  text-decoration: none;
  color: #003366;
}

.footer-rights {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.font {
  font-size: 28px;
}

.footer-brand {
  text-align: center;
  margin: 40px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-brand img {
  max-width: 100%;
  height: auto;
}

.footer-del-num {
  padding-top: 16px;
  text-align: right;
}

.footer-del-num  a{
  text-decoration: none;
  font-size: 12px;
  color: #909FB9;
}









